{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='place.css') }}">
<style>
    body {
        background-image: url("/static/photo/фон2.jpg");
        background-size:cover;
    }
</style>
{% endblock %} {% block content %}
<section>
    <h1>Популярные места</h1>
    <input type="text" class="search-bar" placeholder="Поиск мест...">
    <div class="places-grid">
        {% if places %}
            {% for p in places %}
                <div class="place-card">
                <img src="https://sun9-81.userapi.com/s/v1/ig2/_KWk6DGpDko0YpKou4ZKofbFU-xwB_T4R5RDToW1BeANrwIlPadiEk_sx7ZYwe2fm9XUXfetEAcb-fLpIB7SAGNR.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x134,360x202,480x269,540x303,640x359,720x403,960x538&from=bu&cs=960x0" alt="Париж">
                <div class="place-info">
                    <div class="place-name">Париж</div>
                    <div class="place-name_country">Франция</div>
                    <div class="place-rating">★4.6</div>
                    <div class="place-description">Город влюбленных и романтики</div>
                    <div class="tags">
                        <span class="tag">Эйфелева башня</span>
                        <span class="tag">Лувр</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            Ничего тут
        {% endif %}
    </div>
</section>
{% endblock %}