{% extends 'base.html' %} {% block head %}
    <link rel="stylesheet" href = "{{ url_for('static', filename='place.css') }}">
    <style>
        body{
            background-image: url("/static/photo/фон2.jpg");
              background-size:cover;
        }
    </style>
{% endblock %} {% block content %}
    <section>
        <h1>Популярные места</h1>
        <input type="text" class="search-bar" placeholder="Поиск мест...">
        <div class="places-grid">
            <div class="place-card">
                <img src="https://sun9-81.userapi.com/s/v1/ig2/_KWk6DGpDko0YpKou4ZKofbFU-xwB_T4R5RDToW1BeANrwIlPadiEk_sx7ZYwe2fm9XUXfetEAcb-fLpIB7SAGNR.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x134,360x202,480x269,540x303,640x359,720x403,960x538&from=bu&cs=960x0" alt="Париж">
                <div class="place-info">
                    <div class="place-name">Париж</div>
                    <div class="place-name_country">Франция</div>
                    <div class="place-rating">★4.6</div>
                    <div class="place-description">Город влюбленных и романтики</div>
                    <div class="tags">
                        <span class="tag">Эйфелева башня</span>
                        <span class="tag">Лувр</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="https://sun9-15.userapi.com/s/v1/ig2/KMs5LOxPklZLwAjZUNw4CR_kcws_76dsfLNOIjWVvoza8X4fIy6mOXuSyjJZ6BM4HGIYEwWnylqqY3kgB954fFUy.jpg?quality=95&as=32x24,48x36,72x54,108x81,160x120,240x180,360x270,480x360,540x405,640x480,720x540,1080x810,1280x960,1440x1080,1600x1200&from=bu&cs=1600x0" alt="Токио">
                <div class="place-info">
                    <div class="place-name">Токио</div>
                    <div class="place-name_country">Япония</div>
                    <div class="place-rating">★4.8</div>
                    <div class="place-description">Сочетание традиций и технологий</div>
                    <div class="tags">
                        <span class="tag">Храм Сенсодзи</span>
                        <span class="tag">Гора Фудзи</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="static\photo\сочи.jfif" alt="Сочи">
                <div class="place-info">
                    <div class="place-name">Сочи</div>
                    <div class="place-name_country">Россия</div>
                    <div class="place-rating">★4.8</div>
                    <div class="place-description">Черноморский курорт с горами</div>
                    <div class="tags">
                        <span class="tag">Красная поляна</span>
                        <span class="tag">Олимпийский парк</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="https://sun9-48.userapi.com/s/v1/ig2/nKhdoemBt_9puuFv85QdFXcJFBC0TT9fd9VdSiM1B5NfOLiwfcxYaxpvK2WgKngO-NBF7gBeMycev5YW7J8HGcZn.jpg?quality=95&as=32x21,48x32,72x47,108x71,160x105,240x158,360x237,480x315,540x355,640x421,720x473,1080x710,1280x841,1440x946,1920x1262&from=bu&cs=1920x0" alt="Рим">
                <div class="place-info">
                    <div class="place-name">Рим</div>
                    <div class="place-name_country">Италия</div>
                    <div class="place-rating">★4.9</div>
                    <div class="place-description">Вечный город с богатой историей</div>
                    <div class="tags">
                        <span class="tag">Колизей</span>
                        <span class="tag">Ватикан</span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="places-grid">
            <div class="place-card">
                <img src="https://sun9-65.userapi.com/s/v1/ig2/SxDZUwXDjP3q-zBdPVHZRrRn8qWSmCeP7b7rmFZPrVz4srgwN_Cw0gutnUvONSZQib2OpVH2WJT_eSn-9x8yLz_t.jpg?quality=95&as=32x21,48x32,72x48,108x72,160x107,240x160,360x240,480x320,540x360,640x427,720x480,1080x720,1280x854,1440x961,1688x1126&from=bu&cs=1688x0" alt="Барселона">
                <div class="place-info">
                    <div class="place-name">Барселона</div>
                    <div class="place-name_country">Испания</div>
                    <div class="place-rating">★4.6</div>
                    <div class="place-description">Архитектура Гауди и средиземноморье</div>
                    <div class="tags">
                        <span class="tag">Саграда Фамилия</span>
                        <span class="tag">Парк Гуэль</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="https://sun9-85.userapi.com/s/v1/ig2/8Fjjv1eoaA0Cm2h5d72sI4TH9dM0EPrFyhAcbXm_XnnO8ENYsSsNOpkaDy54ulZkoXxUGT6ptp31nWno9rfYXdxO.jpg?quality=95&as=32x18,48x27,72x40,108x61,160x90,240x135,360x202,480x270,540x304,640x360,720x405,1080x607,1280x720,1440x810,1920x1080&from=bu&cs=1920x0" alt="Дубай">
                <div class="place-info">
                    <div class="place-name">Дубай</div>
                    <div class="place-name_country">ОАЭ</div>
                    <div class="place-rating">★4.6</div>
                    <div class="place-description">Роскошь и футуристичная архитектура</div>
                    <div class="tags">
                        <span class="tag">Бурдж Халифа</span>
                        <span class="tag">Дубай Молл</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="https://sun9-15.userapi.com/s/v1/ig2/AnRfLsoARkwtSAHp4O7rz8cPQplByXgW7FjkwdsbkMtFvV0f_G1RdPNUGeXnq5zgpI3CZu61yYIGBDRdckq5_BJw.jpg?quality=95&as=32x22,48x33,72x49,108x74,160x110,240x165,360x247,480x329,540x371,640x439,720x494,1020x700&from=bu&cs=1020x0" alt="Санкт-Петербург">
                <div class="place-info">
                    <div class="place-name">Санкт-Петербург</div>
                    <div class="place-name_country">Россия</div>
                    <div class="place-rating">★4.8</div>
                    <div class="place-description">Культурная столица Росии</div>
                    <div class="tags">
                        <span class="tag">Эрмитаж</span>
                        <span class="tag">Петергоф</span>
                    </div>
                </div>
            </div>

            <div class="place-card">
                <img src="https://sun9-10.userapi.com/s/v1/ig2/-NYObOl1yC4xVCxxe3ou_MVvVVOof0HsMpqHUl_5uRKs_EyE76S_mVQgV0QsASntrrmqmR1ZbckO2MLqL1V-ro33.jpg?quality=95&as=32x16,48x24,72x36,108x54,160x80,240x120,360x180,480x240,540x270,640x320,720x360,1080x540,1280x640,1440x720,1920x960&from=bu&cs=1920x0" alt="Бали">
                <div class="place-info">
                    <div class="place-name">Бали</div>
                    <div class="place-name_country">Индонезия</div>
                    <div class="place-rating">★4.9</div>
                    <div class="place-description">Тропический рай для отдыха</div>
                    <div class="tags">
                        <span class="tag">Храм Танах Лот</span>
                        <span class="tag">Рисовые терассы</span>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}